*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

.padre{
    display: flex;
    flex-flow: column nowrap;
}

.margen-interno{
    padding: 0 50px;
}

    .header{
        background: url(../img/fondo.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;

    }
        .menu{
            background: rgba(0,0,255,.1);
            display: flex;
            flex-flow: row nowrap;
            height: 60px;
            align-items: center;
            border-bottom: 1px solid rgb(251, 253, 253);
        }
            .logo{
               
                flex: 1 1 auto;                        
            }
                .logo a{
                    color: rgb(251, 253, 253);
                    font-size: 30px;
                }

                .logo a:hover{
                    color: #CC4165 ;
                }
            .nav{
                flex: 5 1 auto;
            }

                .nav a{
                    color: rgb(251, 253, 253);
                    font-size: 11px;
                    text-transform: uppercase;
                    padding: 0 10px;
                    letter-spacing: 0.6px;
                }

                .nav a:hover{
                    color: #CC4165 ;
                }
            .redes{
                flex: 1 1 auto; 
                display: flex;
            }
                .redes a{
                    color: rgb(251, 253, 253);
                    font-size: 18px;
                    padding: 0 10px;
                }
                .redes a:hover{
                    color: #CC4165 ;
                }
        .textoPrincipal{
            height: 680px;
            display: flex;
            align-items:flex-end;
        }
            h1{
                font-family: 'Lora', serif;
                font-size: 31px;
                color:rgb(251, 253, 253);
                font-weight: 500;
                text-align: center;
                line-height: 1.6;
                margin: 5px 10px;
            }

    .section{
        background: #ececec;
        display: flex;
    }

        .articulos{
            background: #f7f7f7 ;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            .article{
                flex: 1 1 40%;
                font-size: 13px;
                letter-spacing: 1px;
                margin: 10px 10px 0 0px;
                flex: 1 1 45%;
                background: #ececec;
            }
            .article img{
                width: 100%;
            }

            .article a{
                color: #f7f7f7;
                font-size: 13px;
                padding: 10px;
                background: #1B262C;
                margin: 10px 0;
                display: inline-block;
            }
            .article a:hover{
                background: #CC4165;
            }

            h2{
                font-size: 25px;
                text-transform: uppercase;
                padding: 0px 0 10px 0;
                color:#1B262C;
            }
            .navegacion{
                background: #1B262C;
                flex: 1 1 100%;
                margin: 10px 10px 0 0px;
            }
            .navegacion a{
                color: aliceblue;
                font-size: 13px;
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 2px;
            }

            .navegacion a:hover{
                color: #CC4165;
            }
        .aside{
            /* background: #88A6E5; */
            flex: 1 1 auto;
            margin: 10px 10px 10px 0;
        }

        .aside img{
            display: flex;
            align-items:center;
            width: 100%;
        }
            h4{
                background: #22353f;
                color: aliceblue;
                padding: 10px;
                text-transform: uppercase;
            }

            .desc{
                color: #22353f;
            }
            
    .footer{
        background: #1B262C;
        display: flex;
        justify-content: center;
    }
        .pie{
            /* background: #B0EACD; */
            text-align: center;
        }

        .pie a{
            color: aliceblue;
            font-size: 11px;
            text-transform: uppercase;
            padding: 0 10px;
            letter-spacing: 2px;
        }

@media all and (max-width : 1120px){
    .section{
        flex-direction: column;
    }

    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
    h1{
        font-size: 20px;
    }
    .textoPrincipal{
        height: 600px;
    }
}
@media all and (max-width : 762px){
    .articulos{
        flex-direction: column;
    }
}

@media all and (max-width : 650px){
    .off{
        display: none;
    }
    .nav a{
        font-size: 20px;
    }
    .navegacion a{
        
        font-size: 11px;
        letter-spacing: 1px;
    }
}

@media all and (max-width : 400px){
    .aside{
        flex-direction: column;
    }
    
}
